[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pandas = "*"
scikit-learn = "*"
osmnx = "*"
ipykernel = "*"
wikipedia-api = "*"
minsearch = "*"
python-dotenv = "*"
qdrant-client = {extras = ["fastembed"], version = ">=1.14.2"}
setuptools = "*"

[dev-packages]
tqdm = "*"
notebook = "*"
ipywidgets = "*"
setuptools = "*"
hyperopt = "*"
optuna = "*"
mistralai = "*"
pyarrow = "*"
matplotlib = "*"
seaborn = "*"
google = "*"

[requires]
python_version = "3.13"
